<div id="institucional">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-4" style="text-align: center;">
        <%= image_tag 'logo-dif.svg' %>
      </div>
      <div class="col-lg-7">
        <div class="cartola">
          <h6>ATSI BRASIL</h6>
          <h3>Ajudamos você a <b>viabilizar</b> os seus projetos e potencializar o seu <b>agronegócio</b>!</h3>
        </div>
        <p>A <b>ATSI BRASIL</b> é uma empresa gaúcha de pesquisa e consultoria com foco na prestação de serviços para empresas do agronegócio, instituições de pesquisa e alunos de graduação e pós-graduação. Realiza com excelência ensaios de pesquisa experimental e de eficácia e praticabilidade agronômica, além de consultoria acadêmica e empresarial. A ATSI BRASIL é pioneira no segmento a oferecer uma gama completa de serviços que incluem desde o desenho experimental e execução de projetos até a escrita de artigos científicos. Sua equipe é formada por doutores com experiência internacional nas áreas de Entomologia, Herbologia, Fitopatologia, Biologia Molecular e Bioinformática.</p>
        <a href="/equipe" class="lead-button" style="color:#0a806d;">CONHEÇA NOSSA EQUIPE</a>
      </div>
    </div>
  </div>
</div>
