<!-- MENU mobile -->
<div class="overlay">
  <div style="width:100%;text-align: center;">
    <%= image_tag "logo.svg", :class => 'logo-top-m'%>
  </div>
  <nav class="overlay-menu">
    <ul>
      <li><a class="click_scroll" href="#institucional">ATSI BRASIL</a></li>
      <li><a class="click_scroll" href="#servicos">SERVIÇOS</a></li>
      <li><a class="click_scroll" href="#diferenciais">DIFERENCIAIS</a></li>
      <li><a class="click_scroll" href="#artigos">ARTIGOS</a></li>
      <li><a class="click_scroll" href="/publicacoes">PUBLICAÇÕES</a></li>
      <li><a class="click_scroll" href="#contact">FALE CONOSCO</a></li>
      <li ><%= image_tag "../images/close.svg", :class => "close-menu", :alt => "Fechar Menu" %></li>
    </ul>
  </nav>
  <div class="topo-caract-mobile col-12">
    <div id="icons">
        <a target="_blank" href="https://www.facebook.com/atsibrasil"><i class="fab fa-facebook-f"></i></a>
        <a target="_blank" href="https://www.instagram.com/atsibrasil"><i class="fab fa-instagram"></i></a>
        <!-- <a target="_blank" href="https://api.whatsapp.com/send?phone="><i class="fab fa-whatsapp"></i></a> -->
    </div>
  </div>
</div>
<!-- FIM MENU mobile -->
<div id="topo-fixado" class="row topo-fixed" style="margin:0px;">
  <div class="col-sm-8 col-md-9 col-lg-9 topo-left">
    <div class="row" style="margin:0px;">
      <div class="no-padding col-lg-3 col-md-3 ">
        <a href="/capa"><%= image_tag "logo.svg", :class => "img-logo" %></a>
      </div>
      <div class="menu-position">
        <div id="menu" class="float-right">
          <ul class="align-middle">
            <li><a class="click_scroll" href="#institucional">ATSI BRASIL</a></li>
            <li><a class="click_scroll" href="#servicos">SERVIÇOS</a></li>
            <li><a class="click_scroll" href="#diferenciais">DIFERENCIAIS</a></li>
            <li><a class="click_scroll" href="#artigos">ARTIGOS</a></li>
            <li><a class="click_scroll" href="/publicacoes">PUBLICAÇÕES</a></li>
            <li><a class="click_scroll" href="#contact">FALE CONOSCO</a></li>
          </ul>
        </div>
      </div>
      <div class="icone-menu open-menu float">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 width="75px" height="57px" viewBox="0 0 75 57" enable-background="new 0 0 75 57" xml:space="preserve">
        <g>
        	<rect class="rect1" x="8" y="28" fill="#FFFFFF" width="57" height="2"/>
        	<rect x="8" y="48" fill="#FFFFFF" width="58" height="2"/>
        	<rect class="rect2" x="8" y="8" fill="#FFFFFF" width="57" height="2"/>
        </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="col topo-right">
    <div id="icons">
      <a target="_blank" href="https://www.facebook.com/atsibrasil"><i class="fab fa-facebook-f"></i></a>
      <a target="_blank" href="https://www.instagram.com/atsibrasil"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
