<section id="parallax" data-parallax="scroll" data-image-src="/img/parallax.jpg">
  <div class="container" style="position: relative;height:100%;">
    <%= image_tag 'parallax.svg' %>
  </div>
</section>
