<%= render 'capa/menuinterno' %>
<section class="servico-title" data-parallax="scroll" data-image-src="/img/topo-interno.jpg">
  <div class="container">
    <h1>SERVIÇOS</h1>
  </div>
</section>
<section class="servicos-content-int">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 p0">
        <div class="cartola">
          <h6>CONSULTORIA</h6>
          <h3><b>Especializada</b></h3>
          <a class="lead-button click_scroll" href="#formulario" onclick="consultoriaEspecializada()">TENHO INTERESSE<svg version="1.1" id="Isolation_Mode" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="244.7 185 352.5 220.7" style="enable-background:new 244.7 185 352.5 220.7;" xml:space="preserve">
            <polygon points="472.5,199.6 558.1,285.1 244.7,285.1 244.7,305.7 558.1,305.7 472.5,391.3 487,405.8 582.9,309.9 582.8,309.8
            597.2,295.4 582.8,281 582.9,280.9 487,185 "/>
          </svg>
        </a>
      </div>
    </div>
    <div class="col-lg-8 p0">
      <h2>Orientação em projetos de Entomologia, Fitopatologia, Herbologia, Biologia Molecular e Bioinformática. Auxiliamos na contextualização, condução e análise de projetos, TCCs, dissertações e teses.</h2>
      <p>Nossos pesquisadores são doutores em Fitossanidade com experiência internacional em projetos de genômica funcional, Genome-Wide Association (GWAS), transcriptômica, RNA de interferência (RNAi), biologia sintética, fenotipagem automatizada (drones) e resistência de insetos e plantas daninhas.</p>
      <div class="servicos-itens">
        <a href="#"><p>Confira nossa produção científica</p></a>
      </div>
    </div>
  </div>
</div>
</section>
<section id="parallax" data-parallax="scroll" data-image-src="/img/parallax_consultoria_especializada.jpg">
  <div class="container" style="position: relative;height:100%;">
    <%= image_tag 'parallax.svg' %>
  </div>
</section>
<%= render 'capa/formularioerodape' %>
