<section id="home" style="position: absolute; width: 0px; height:0px;"> </section>
<section id="menutopogeneral" class="top_menu_scri" style="z-index: 9999;position: absolute;top: 0px;">
  <%= render 'capa/menumobileopen' %>
  <a href="/"><%= image_tag '../img/logocapa.svg', :class=>'logocapa', :alt=>'logo dp' %></a>
  <div class="menupcgeneral">

    <ul>
      <a href="#saiba_mais" class="click_scroll"><li>List</li></a>
      <a href="#areas_de_atuacao" class="click_scroll"><li>List</li></a>
      <a href="#noticias" class="click_scroll"><li>List</li></a>
      <a href="#entre_em_contato" class="click_scroll"><li>List</li></a>
      <!-- <a href="#"><div class="zapmenu"></div></a>
      <a href="#"><div class="fbmenu"></div></a> -->
    </ul>

  </div>

  <div class="menumobilegeral">
    <a class="menu_bt open-menu">|||</a>
  </div>
</section>
