<!-- MENU -->
<div class="overlay">
 <nav class="overlay-menu">
   <ul>
     <li><a class="click_scroll" href="/">Início</a></li>
     <li><a class="click_scroll" href="/#saiba_mais">List</a></li>
     <li><a class="click_scroll" href="/#areas_de_atuacao">List</a></li>
     <li><a class="click_scroll" href="/#noticias">List</a></li>
     <li><a class="click_scroll" href="/#entre_em_contato">List</a></li>
     <li style="height: 36px;margin-left: calc(50% - 60px);">
        <a href="#" style="float: left;margin-right: 12px;"><div class="zapmenumobi"></div></a>
        <a href="#" style="float: left;margin-right: 12px;"><div class="instamenumobi"></div></a>
        <a href="#" style="float: left;margin-right: 12px;"><div class="fbmenumobi"></div></a>
     </li>
     <li ><%= image_tag "../img/close.svg", :class => "close-menu", :alt => "Fechar Menu" %></li>
   </ul>
 </nav>
</div>
<!-- FIM MENU -->
