<%= render 'capa/menuinterno' %>
<section class="servico-title" data-parallax="scroll" data-image-src="/img/topo-interno.jpg">
  <div class="container">
    <h1>SERVIÇOS</h1>
  </div>
</section>
<section class="servicos-content-int">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 p0">
        <div class="cartola">
          <h6>CONSULTORIA</h6>
          <h3><b>EMPRESARIAL</b></h3>
          <a class="lead-button click_scroll" href="#formulario" onclick="consultoriaEmpresarial()">TENHO INTERESSE<svg version="1.1" id="Isolation_Mode" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="244.7 185 352.5 220.7" style="enable-background:new 244.7 185 352.5 220.7;" xml:space="preserve">
            <polygon points="472.5,199.6 558.1,285.1 244.7,285.1 244.7,305.7 558.1,305.7 472.5,391.3 487,405.8 582.9,309.9 582.8,309.8
            597.2,295.4 582.8,281 582.9,280.9 487,185 "/>
          </svg>
        </a>
      </div>
    </div>
    <div class="col-lg-8 p0">
      <h2>Treinamentos, cursos, palestras e projetos para profissionais do agronegócio.</h2>
      <p>Procurando serviços de qualidade para o seu negócio? A <b>ATSI BRASIL</b> conta com uma equipe de doutores na área de proteção de plantas e oferece serviços especializados de consultoria para empresas do <b>Agronegócio</b>.</p>
      <div class="servicos-itens">
        <p>Treinamentos;</p>
        <p>Cursos;</p>
        <p>Palestras;</p>
        <p>Planejamento experimental;</p>
        <p>Organização e análise de dados;</p>
        <p>Discussão de resultados;</p>
        <p>Resolução de problemas experimentais;</p>
        <p>Relatórios técnicos;</p>
        <p>Apresentações em PowerPoint.</p>
      </div>
    </div>
  </div>
</div>
</section>
<section id="parallax" data-parallax="scroll" data-image-src="/img/parallax_consultoria_empresarial.jpg">
  <div class="container" style="position: relative;height:100%;">
    <%= image_tag 'parallax.svg' %>
  </div>
</section>
<%= render 'capa/formularioerodape' %>
